body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, lightblue, lightgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100%;
}
.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 90%;
  margin: 10px;
}
.heading {
  font-size: 30px;
  font-weight: 700;
}
#quote {
  font-size: 30px;
  font-weight: 600;
}
.author {
  font-size: 25px;
  margin: 10px;
  font-style: italic;
}
.btn {
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  width: 300px;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 300ms ease-in-out;
  color: green;
}
